*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: system-ui;
}

html{
    scroll-behavior: smooth;
}

body{
    /* height: 200vh; */
}
button{
    cursor: pointer;
}
header .logo i{
    color: #fff;
    font-size: 1.5em;
    padding-right: 10px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}
header .navigation-list{
    display: none;
    color: #fff;;
}
header.scrolled {
    background-color: #222; 
    box-shadow: 0 0 0 5px rgba(0,0,0, 0.1);

}
.asidebtn{
    display: none;
}
.navigation-list-items{
    display: none;
    background-color: #222;
    height: 100%;
    width: 250px;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 80px;
    position: fixed;
    z-index: 50;
    transition: 1s ease;
}
.navigation-list-items ul{
    list-style: none;
}
.navigation-list-items ul li 
{
    width: 100%;
    padding-left: 30px;
    height: 50px;
    color: #fff;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    transition: 0.5s ease;

    position: relative;
}

.list-item i{
    cursor: pointer;
    transition: transform 0.3s ease;
}
.list-item i:hover{
    transform: rotate(180deg);
}

.list-item div{
    display:none;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    min-height: 50px;
    padding: 30px;
    gap: 10px;
    position: absolute;
    top: 100%;
    left: 0%;
    position: absolute; 
    z-index: 55;
    /* opacity: 0; */

}
.list-item i:hover + div{
    
    display: flex;
    /* opacity: 1; */
}
.aside-page-container{
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;

}
.aside-page-container div{
    color: #fff;
    display: block;
}
.aside-page-container div .aside-pagesHeading
{
    font-size: 1.3em;
}



.active-item,
.navigation-list-items ul li:hover 
{
   background-color: #0BBC5A;
}
.navigation-list-items ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
}

header .nav{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    list-style: none;
    color: #fff;
}

.nav li{
    display: flex;
    align-items: center;
    gap: 7px;
}
header .nav li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-weight: 300;
    transition: transform 3s ease;

}
.nav li:hover .headLine{
    text-decoration: underline;
    text-underline-offset: 0.8em;
    text-decoration-color: #0BBC5A;
    text-decoration-thickness: 1px;
}
.nav li:hover .arrow{
    transform: rotate(180deg);
    transition: 0.4s ease;
}
.nav .searchIcon
{
    width: 50px;
    height: 50px;
    align-content: center;
    padding-left: 17px;
    border-radius: 50%;
    transition: background-color 0.5s ease;
}
.nav .searchIcon:hover
{
    background-color: #0BBC5A;

}

.active {
    text-decoration: underline;
    text-underline-offset: 0.8em;
    text-decoration-color: #0BBC5A;
    text-decoration-thickness: 1px;
}

.dropdown{
    position: relative;
    display: inline-block;
}


header ul li .dropdown-content{
    display: none;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    top: 55px;
    right: 0;
    font-size: 1em;
    border-radius: 7px; 
    align-content: center;
    min-width: 160px;
    height: auto;   
    padding: 20px 0;

    opacity: 0;
    transition: opacity 0.3s ease;

} 
header ul li .dropdown-content a{
    text-decoration: none;
    display: block;
    padding-left: 30px;
    padding-bottom: 5px;
    color: #0BBC5A;

}

.dropdown:hover .dropdown-content{
    display: block;
    opacity: 1;
}

.dropdown-content .page-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    gap: 50px;
}
.dropdown-content .page-container a{
    padding-right: 30px;
}
.dropdown-content .page-container .pagesHeading{
    padding-left: 30px;
    padding-bottom: 10px;
    color: #222;
}

.home{
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    /* animation: imgOpacity 3s ease infinite;  */    
    position: relative;

}

.home .text{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    left: 17%;
    top: 30%
}
.home h2{
    font-size: 5em;
    font-weight: 500;
}
.home p{
    font-size: 4em;
    font-weight: 100;
}
.home span
{
    width: 20px;
    font-size: 0.4em;
    display: inline-block;
    width: 60%;
}
.home button{
    border: none;
    border-radius: 30px;
    font-size: 2sem;
    width: 170px;
    height: 45px;
    background-color: #0BBC5A;
    transition: background-color 0.5s ease;
    color: #fff;
    font-size: 1.2em;
    margin-top: 10%;
}

.home button:hover{
    background-color: #222;

}
/* @keyframes imgOpacity{
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
} */


.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 230px

}
.card{
    color: #fff;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 300;
}
.card i{
    font-size: 2.5em;
}
.card .last-card-heading, .card h2{
    font-weight: 300;
}

.cardbtn{
    border: none;
    font-size: 1.2em;
    padding-bottom: 1%;
    background-color: #0BBC5A;
    border-radius: 50px;
    font-weight: 600;
    color: #fff;
    height: 60px;
    width: 60%;
    transition: background-color 0.5s ease;
}
.cardbtn:hover{
    background-color: #222;
}

.c_1{
    background-color: #0BBC5A;
}
.c_2{
    background-color: #09A04D;
}
.c_3{
    background-color: #088D43;
}
.c_4{
    background-color: #08833F;
}


.services{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 70px;
    width: 70%;
    margin: 0 auto;
    
}
.services > h2{
    font-weight: 300;
    font-size: 2.7em;
    margin: 0 0 25px 0;
}
.services > p{
    width: 80%;
    margin: 0 auto 30px auto;
    font-weight: 200;
}   
.service-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

.service-card-container .service-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: transform 1s, opacity 1s;
    
}

.service-card-container .right{
    transform: translate(-1000px,0);
    animation: servicecards 2s forwards;
}
.service-card-container .left{
    transform: translate(1000px,0);
    animation: servicecards 1s forwards;
}
@keyframes servicecards {
    to{
        transform: translate(0, 0);
    }
}
.service-card-container .service-card i{
    font-size: 3em;
    color: #0BBC5A;
    background-color: rgba(230,230,230, 0.5);
    border-radius: 50%;
    width: 30%;
    margin: 0 auto;
}
.service-card-container .service-card h2{
    font-size: 1.3em;
    font-weight: 300;
}
.service-card-container .service-card p{
    font-size: 1em;
    font-weight: 100;
}

.about{
    padding-top: 70px;
    margin-top: 80px;
    background-color: rgb(250,250,250);
    width: 100%;
}
.about > h2{
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 20px;
}
.about > p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    padding-bottom: 30px;
}

.about > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}
.about div div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 300;
}
.about img{
    width: 100%;
}
.about .percent{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.about .percent::after
{
    content: "";
    background-color: rgb(222, 222, 222);
    height: 2px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 105%;
}
.about .percent::before
{
    content: "";
    background-color: #0BBC5A;
    height: 2px;
    width: 0;
    position: absolute;
    z-index: 2;
    top: 105%;
}
.percent-75::before{
    animation: fill-75 2s forwards;
}
.percent-50::before{
    animation: fill-50 2s forwards;
}

@keyframes fill-75 {
    from{
        width: 0;
    }
    to{
        width: 75%;
    }
}
@keyframes fill-50 {
    from{
        width: 0;
    }
    to{
        width: 50%;
    }
}


.about button{
    border: none;
    color: #fff;
    background-color: #0BBC5A;
    border-radius: 50px;
    width: 180px;
    height: 55px;
    text-transform: capitalize;
    font-size: 1.2em;
    transition: 0.5s ease;
    margin-top: 20px;
}
.about button:hover{
    background-color: #222;
}


.statistics{
    background-color: #222;
    padding-top: 70px;
    margin-top: 80px;
    width: 100%;
}
.statistics > h2{
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 50px;
}
.statistics .grid-stat
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    gap: 50px;
    padding-bottom: 70px;
}
.stat-first-p{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.stat-first-p i{
    font-size: 2em;
}
.stat-first-p p{
    color: #fff;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    font-weight: 100;
} 

.stat-second{
    color: #fff;
    font-weight: 200;
    padding-top: 40px;
}

.stat-percent{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    font-size: 1.2em;
}

.stat-percent .circle-percent
{
    border: 2px solid rgb(200, 200, 200);
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    align-content: center;
    margin-bottom: 10px;
}

.stat-percent .circle-50{
    transform: rotate(-180deg);
    animation: fill-circle-50 3s ease infinite alternate;

}

.stat-percent .circle-100{
    transform: rotate(-180deg);
    animation: fill-circle-100 3s ease infinite alternate;
}
@keyframes fill-circle-50{
    0%{
        background: #fff;
    }
    100%{
        background: conic-gradient(#0BBC5A 00deg 180deg, transparent 180deg 360deg);
        transform: rotate(0);
    }
 }
@keyframes fill-circle-100{
    0%{
        background: #fff;
    }
    100%{
        transform: rotate(0);
        background: conic-gradient(#0BBC5A 00deg 180deg, #0BBC5A 180deg 360deg);
   }
}


@media (max-width : 1088px)
{
    .asidebtn
    {
        display: inline;
    }
    header{
        background-color: #222;
        display: flex;
        justify-content: flex-start;
        padding: 0 0 0 30px;
    }
    header .nav{
        display: none;
    }

    .home .text{
        left: 5%;
    }
    .home button{
        margin-top: 5%;
    }

    
    .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: 230px
    }

    .about >div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 60%;
        margin: 0 auto 80px auto;
        gap: 20px;
    }
    .about img{
        width: 100%;
        margin: 0 auto;
    }


    .statistics .grid-stat
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr;
        grid-template-areas: 
        "head head"
        "p1 p1"
        "stat1 stat2";
        width: 90%;
        margin: 0 auto;
        gap: 0px;
        padding-bottom: 70px;
    }
    .statistics .grid-stat h2{
        grid-area: head;
        margin-bottom: 0;
    }
    .statistics > h2{
        margin-bottom: 0px;
    }
    .statistics .grid-stat .stat-first-p{
        grid-area: p1;
    }
    .statistics .grid-stat .stat-second
    {
        grid-area: stat1;
    }

    .statistics .grid-stat .stat-percent{
        grid-area: stat2;
    }
}




@media (max-width : 576px)
{
    .home{
        width: 100vw;
    }
    .home .text{
        font-size: 0.5em;
    }

    .card-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        min-height: 230px
    }

    .service-card-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 50px;
    }
    .about >div{
        display: flex;
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;
        margin: 0 auto 80px auto;
    }
    .about img{
        width: 100%;
        height: 20vh;
        margin: 0 auto;
    }

    .statistics .grid-stat
    {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr 0.5fr 1fr;
        grid-template-areas: 
        "head"
        "p1"
        "stat1"
        "stat2";
        width: 90%;
        margin: 0 auto;
        gap: 0px;
        padding-bottom: 70px;
    }
    .statistics .grid-stat h2{
        grid-area: head;
        margin-bottom: 0;
    }
    .statistics > h2{
        margin-bottom: 0px;
    }
    .statistics .grid-stat .stat-first-p{
        grid-area: p1;
    }
    .statistics .grid-stat .stat-second
    {
        grid-area: stat1;
    }

    .statistics .grid-stat .stat-percent{
        grid-area: stat2;
    }
}